

.form_heading_box{
    background-color: #9EC54E;
    color: white;
    padding: 17px 15px;
    border-radius: 8px;
margin-bottom: 20px;

.form_heading{
    font-size: 17px;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
}