.dXkXSG:hover {
    background: #9EC54E !important;
    border-left: none !important;
    cursor: pointer;
  }
  
  .dropdown_custum_icon:hover{
  color: white !important;
  }
  
  .item_icon:hover{
    color: white !important;
  }
  
  .home{
    position: relative;
  }
  
  .card_icon{
    font-size: 37px;
    color: white;
  }
  
  .number{
    color: white;
  }
  
  .heading{
    text-transform: uppercase;
  }