@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');  

 
 
#slide-video {
	top:0!important;
}
 

@font-face {
		font-family: 'tabitha';
		src: url('css/tabitha.ttf') format('truetype');
		font-weight: normal;
		font-display: swap;
		font-style: normal;
}

.menu-item > .menu-link  { 
	margin-top:0;
	padding-top: 5px !important;
    padding-bottom: 5px !important;
	font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #88929e;
    font-family: "josefin sans",sans-serif !important; 
} 

.sub-menu-container .menu-item > .menu-link  {  
    color: #88929e  !important; 
	font-family: 'Roboto', sans-serif !important; 
		font-weight: 400  !important; 
} 

.sub-menu-container {
	min-width:335px !important;
}

.sub-menu-container >  .menu-item > .sub-menu-container  {
	min-width:270px !important;
} 

.menu-item >  .button { 
	color:#fff !important;
}
  @media (max-width: 540px) { 
  #logo img {
	height:auto !important;
	}
  }
 @media (min-width: 992px) {

.sub-menu>a { 
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 15px;
}

.sticky-header-shrink .menu-container > .menu-item > .menu-link  { 
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.top-links-container  {
	margin-bottom:25px;  
}  
	
 
#logo   { 
	height: 110px !important;
	width:auto; 
     -webkit-transition: height .4s ease, height .4s ease, padding .4s ease, margin .4s ease, opacity .3s ease;
    transition: height .4s ease, padding .4s ease, margin .4s ease, opacity .3s ease;
}

.sticky-header-shrink #header-wrap #logo    {
    height: 80px !important;  
}
.sticky-header-shrink #header-wrap #logo img   {
    height: 80px !important;  
}
  


}

.yoga-module {
	min-height:450px!important;
	margin-bottom:15px;
}

.yoga-module h5 {
	margin-top:1em!important;
}

.turiya-white {
	color:#fff!important;
}

.blockquote {
	font-size:18px;
	font-style:italic!important; 
	line-height:30px;
	text-align:center;
	letter-spacing:2px;
}

.author {
	font-size:18px;
	font-family:Roboto;
	line-height:30px;
	text-align:center;
	letter-spacing:2px;
}

.divider-turiya {
	max-width:30%;
	clear:both;
	position:relative;
	z-index:11;
	border-color:#bfbab7;
	border-top-style:solid;
	border-top-width:1px;
}

.divider-turiya1 {
	clear:both; 
	position:relative;
	z-index:11;
	border-color:#fff;
	border-top-style:solid;
	border-top-width:3px;
}

.heading-block_home1 {
	position:absolute;
	top:35%;
	left:10%;
}

.manu .divider-turiya {
	margin-bottom:inherit;
	border-color:#fff;
	border-top-width:3px;
	width:10%;
	position:absolute;
	top:25%;
	left:0;
}

.manu .button-green {
	position:absolute;
	top:30%;
	font-weight:700px;
	border-radius:0;
	padding:2% 4% 5% 3%!important;
	font-size:1.5em;
	right:0;
}

.manu {
	opacity:1;
	background-position:center top;
	background-repeat:no-repeat;
	background-size:cover;
	background-color:rgba(58,65,73,.35);
	background-blend-mode:overlay;
	height:calc(100vh - 64px);
	padding:165px 0 !important;
}
 
     

.no-rounded {
	border-radius:0!important
}

a.link-green img {
	margin:0;
	padding:0;
	widht:100%;
}


a.link-green:hover a.link-green img { 
	widht:120%;
}

a.link-green {
	color:#fff;
	line-height:35px;
	font-size:14px;
	font-family:Roboto;
	font-style:normal;
	border-radius:3px;
	font-weight:700;
	letter-spacing:1px;
	text-transform:uppercase;
	background-color:#9bbb59;
	display:block;
	text-align:center;
	margin-bottom:10px!important;
}

a.link-green:hover {
	background-color:#a2d143;
}

#content .container {
	overflow:hidden;
} 

a.social-icon1 {
	display:block;
	float:left;
	margin:0 5.5px 14px;
	text-align:center;
	font-size:18px;
	color:#4ad575!important;
	cursor:pointer;
	font-style:normal;
	speak:none;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
}

.absright {
	position:absolute;
	right:0px;
	bottom:0px; 
}

.absleft {
	position:absolute;
	left:13px;
	bottom:-65px !important; 
}
.absleft1 {
	position:absolute;
	left:13px;
	bottom:-35px !important; 
}


.abstopright {
	position:absolute;
	right:0;
	top:0;
	margin:0;
}

.leftsidebar {
	border-left:1px solid #a5a5a5;
	padding-left:4%;
}



#content a.button-border,#content p a.button-border {
	text-decoration:none!important; 
	height:inherit;
	font-size:15px;
	margin-bottom:30px;
}

#content a.button-border:hover,#content p a.button-border:hover {
	text-decoration:none!important;
	color:#fff!important;
} 

#content .team-desc p a {
	text-decoration:none!important;
	color:#fff!important;
}

#content .team-desc p a:hover {
	color:#fff!important;
}

.text-green {
	color:#9bbb59!important;
}

.logofont {
	font-family:'Tabitha'!important;
}

.latofont {
	font-family:'Lato' !important;
}



.checkout-form-billing h3 {
	font-size:1.25rem;
	line-height:1;
	color:#9a9a9a;
	border-bottom:1px solid #ccc;
}

.form-widget {
	padding:35px;
}

.req {
	color:red!important;
	font-size:1.15em;
	font-weight:700;
}
  
	
.card-backgroungig {
	color:#fff;
	font-size:1.15em;
	background-color:rgba(245,245,245,.55);
	background-image:url(images/jointhefamily.jpg);
	padding: 30px;
    background-size: cover;
}

.registration-form {
	background-clip:border-box;
	border:1px solid rgba(0,0,0,.125);
	border-radius:0.25rem;
}

#template-registration h3 {
	border-bottom:1px solid rgba(0,0,0,.125);
	line-height:2em;
	margin-bottom:50px!important;
}

.team-title h4 {
	font-size:1.15em!important;
	line-height:1.25em!important;
	font-family:Roboto!important;
}

.our-team .team {
	height:inherit;
}
 

.our-team .team .team-desc .team-title {
	padding-top:5px!important;
}

.dnone {
	display:none
}

#content .mystyle ul li {
	background:url(images/icon-leaf.jpg) no-repeat 0 top;
	padding-left:25px;
	margin:auto;
	list-style:none;
	margin-bottom:20px;
}

#content a.button-border,#content p a.button-border {
	text-decoration:none!important;
	color:#9bbb59!important;
	border-color:#9bbb59;
	height:inherit;
	font-size:15px;
	margin-bottom:1rem;
}

#content a.button-border:hover,#content p a.button-border:hover {
	text-decoration:none!important;
	color:#fff!important;
	background-color:#9bbb59!important;
}
  
#content p a {
	text-decoration: underline!important;
    color: #e07542!important;
}

#content p a:hover{
	text-decoration: none!important;
    color: #9bbb59!important;
} 

#content .team-desc p a {
	text-decoration:none!important;
	color:#fff!important;
}

#content .team-desc p a:hover {
	color:#fff!important;
}

#page-title {
	position:relative;
	padding:4rem 0;
	background-color:#f5f5f5;
	border-bottom:1px solid #eee;
}

div.sticky {
	position:-webkit-sticky;
	position:sticky;
	top:0
}

#footer {
	background:#fff !important;
}

.testi-image, .testi-image a, .testi-image img, .testi-image i {
	display: block; 
	width:150px!important; 
	height: 150px !important;
}

.testimonial {
	border:none  !important;
	background:none;
	box-shadow:none;
}
 


#slide-video {
	top:0px !important;
}

 
  
.slider-caption h2 span {
	    font-family: 'Tabitha';
		font-size: 33px;
		letter-spacing: -1px;
		text-transform: capitalize;
		font-weight: 400;
		line-height: 1.2em;
		font-style: normal; 
}


.slider-caption h2 span  { 
		background: rgba(255,255,255,.90)!important;
		color: #9a9a9a!important; 
}

.slider-caption p   {  
    color: #000;
    font-size: 16px;
    line-height: 1.4em; 
	background: rgba(255,255,255,.90)!important;
	color: #000!important;  
}


.slider-caption p.no-bg {
	background:none !important; 
}

.bg-color-white {
	background:#fff !important; 
} 

.button.button-turiya {
	background-color: #9bbb59  !important;
	color:#fff  !important;
}

.button.button-turiya:hover { background-color: #a2d042  !important; }

#primary-menu-trigger {
	color:#9bbb59 !important;
	cursor: pointer!important;
    font-size: 27px; 
}


.full-header #logo {
	border-right: 0px solid #EEE !important;
}


#video-slider-play {
		position: absolute;
		right: 30px;
		top: auto;
		top: 30px;
		margin-left: -24px;
		width: 48px;
		height: 48px;
		line-height: 48px;
		border-radius: 50%;
		background-color: rgba(255,255,255,0.2);
		color: #FFF;
		font-size: 18px;
		text-align: center;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
		z-index: 21;
	}

#video-slider-play i:nth-of-type(1) {
	position: relative;
	left: 2px;
}

#video-slider-play i:nth-of-type(2),
#video-slider-play.video-played i:nth-of-type(1) { display: none; }

#video-slider-play.video-played i:nth-of-type(2) { display: block; }
#top-bar {
	border-top: 0px !important;
	border-bottom: 0px !important;
} 


.top-links {
	font-size: .95rem;
	color: #7b838b; 
}

.top-links a {
	color:#7b838b;   
} 

#header-wrap {
	border-top:3px solid #add138;
}


body {     
	font-size:0.90rem;
    color: #212529;
    text-align: left;
	line-height:1.8em;
}


 

p {
	margin-bottom:1rem !important;
}


.bg-gray {
	background:#ebebeb !important; 
}

.bg-color-light {
	background:#f9f9f9 !important;
}
  
.bgcolor-gray-dark {
	background:#ededed !important;  
}

.text-gray {
	color:#9a9a9a !important;
}

.text-gray-dark {
	color:#444 !important;
}




.text-white {
	color:#fff !important;
}

.text-color-secondary {
	color:#3a4149 !important;
}



  

 

.full-header .primary-menu .menu-container   { 
    border-right: 0px !important; 
}



.button-icon-divider-left  { 
	border-right:1px solid #fff;  
	width:35px !important;
	margin-right:8px !important;
	
} 

a.button-turiya:hover {
	color:#fff !important; 
}
 

#content h2 {
	font-family:'Tabitha' !important;
	font-weight:400 !important;  
	font-style:normal !important;
	color:#9a9a9a !important;
	margin:0 !important;
	font-size:4.5em;
	line-height:1.25em; 
}

#content h3 {
	color:#3a4149 !important;
	font-size:1.1em !important; 
	font-weight:300 !important;
	line-height:1.7rem !important;
	letter-spacing:1px !important;
	font-style:normal !important; 
	
}
 
 
#content h6 {
	font-size: 1em ; 
    font-weight: 300 !important;
    line-height: 1.1 !important;
    letter-spacing: 2px !important;
    font-style: normal !important;
    margin-top: .8em !important;
    margin-bottom: .8em !important;
	color:#444 !important;
	font-size: 1.30em; 
	text-transform:capitalize;
}
 

.content2 p {
	font-weight:400;
	font-style:normal;
}

.latesteventbox {
	background-color:rgba(247,247,247,.9);
	overflow:hidden;
	box-shadow:rgba(198,198,198,.49) 4px 1px 20px 2px;
	padding:10%!important;
	background-position:left bottom;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:10px;
	height:auto;
}



.latesteventbox i {
	padding:5px;
	top:10px!important;
}

.faq {
	background-color:#f7f7f7;
}

.faq .accordion-title {
	font-family:Lato !important;
	font-weight:500 !important;  
	font-size:18px;   
}

.faq .accordion-icon i { 
	color:#add138 !important;
	font-size:22px !important;  
}

.faq .accordion-content {
	font-family:Roboto !important;
	font-weight:400 !important;
	letter-spacing:0 !important;
	font-style:normal !important;
	font-size:14px !important;
	color:#232323 !important; 
}

.faq .accordion-content a {
	color:#f48c5a;
	text-decoration:underline!important;
}

.faq .accordion-content a:hover {
	color:#add138;
	text-decoration:none;
}

.home-cources h3 {
	font-size:25px;
	font-family:Tabitha;
	font-weight:500;
	line-height:12;
	margin:10px 0;
	color:#9a9a9a;
}

.event_headings {
	font-size:25px;
	font-family:Tabitha;
	font-weight:500;
	line-height:1.5;
	margin:0 0 10px 0;
	color:#9a9a9a;
	border-bottom:1px solid #ccc;
}

.turiya-orange {
	color:#de7542!important;
}

.home-cources-dates ul li {
	float:left;
	width:15%;
	list-style:none;
	color:#000;
	line-height:1.7!important;
	padding:5px 0;
	margin-bottom:10px;
}

.home-cources-dates ul li:nth-last-child(5) {
	width:20%;
}

.home-cources-dates ul li:nth-last-child(4) {
	width:20%;
}

.home-cources-dates ul.datecontent li:last-child {
	width:10%;
	text-align:center;
	padding:0;
}

.home-cources-dates .btn {
	padding:5px 10px;
	font-size:inherit;
	line-height:inherit;
}

.team {
	position:relative;
	height:570px;
	overflow:hidden;
}
 

.heading-block_home1 h5 {
	font-size:1.55em!important;
	font-family:Lato!important;
	font-weight:300!important;
	line-height:1.13!important;
	letter-spacing:1px!important;
	font-style:normal!important;
	color:#fff!important;
}

.heading-block_home1 .double-line {
	border-top:3px solid #eee;
	background-color:#fff;
}

.heading-block_home1 h2 {
	font-family:Tabitha;
	font-weight:400;
	font-size:4em;
	line-height:1em;
	margin-top:0.24em;
	margin-bottom:2.24em;
	font-style:normal;
	color:#fff!important;
}

.eventdates {
	margin-bottom:5px;
	line-height:40px;
}

.ADVANTAGES img {
	padding:5px;
}

.ADVANTAGES h7 {
	font-family:Roboto;
	font-weight:300;
	line-height:1.13;
	letter-spacing:1px;
	font-style:normal;
	margin-top:0.55em;
	margin-bottom:0.55em;
	color:#3a4149;
	font-size:1.55em;
}

.divider-sep-clear {
	clear:both;
	display:block;
	height:1px;
	font-size:0;
	line-height:0;
	width:100%;
	overflow:hidden;
	color:#232323;
}

.iconlist li {
	line-height:1.15rem;
	margin-bottom:2rem;
}

p.line {
	clear:both;
	width:40%;
	margin:10px 0;
	border-top:1px solid #eee;
}

.section h6 {
	font-size:1.55em;
	font-family:Lato;
	font-weight:300;
	line-height:1.13;
	letter-spacing:1px;
	font-style:normal;
	margin-top:0.55em;
	margin-bottom:0.55em;
}

.transparent-white {
	background-color:rgba(255,255,255,.8);
}

#page-title.admin-header {
	padding:10px 0!important;
}

#footer h3 {
	color:#3a4149;
	font-family:"Barlow Condensed";
	font-size:1.55em;
	font-weight:700;
	line-height:2em;
	margin:0 0 28px;
	text-transform:uppercase;
	font-style:normal;
	margin-bottom:8px!important;
}

.fusion-separator {
	border:0 solid #e7e6e6;
	clear:both;
	position:relative;
	z-index:11;
}

.footer_links ul {
	line-height:25px;
	list-style:none;
}

.footer_links ul li {
	font-size:14px;
	padding:0;
	font-weight:bolder;
}

.footer_links ul li a {
	font-weight:400;
	text-transform:capitalize;
}

.footer_links ul li a:hover {
	color:#4ad575;
}

.orrnage {
	color:#e07542!important;
}

.whitetext {
	color:#fff!important;
}

.whitetext:hover {
	color:#fff!important;
}

.leftsidebar {
    border-left: 1px solid #a5a5a5;
    padding-left: 4%;
}

.text-color-green{color:#9bbb59!important}

.faq{background-color:#f7f7f7}

.faq .acctitle{font-family:'Lato' !important;font-weight:300 !important;line-height:1.13 !important;letter-spacing:1px !important;font-style:normal !important;font-size:1.2em !important;line-height:2em !important;font-style:italic !important;}

.faq .acctitle i{font-size:25px;padding:3px 0;line-height:2em;color:#add138}

.faq .acc_content{font-family:Roboto;font-weight:400;letter-spacing:0;font-style:normal;font-size:14px;color:#232323}

.faq .acc_content a{color:#f48c5a;text-decoration:underline!important}

.faq .acc_content a:hover{color:#add138;text-decoration:none}
 
.top-links {border-bottom:0 ; }
.orrnage {
    color: #e07542!important;
}

.feature-box   {
	margin-left: -0.90rem;
	margin-right: -0.90rem;
}


 .feature-box p {
    margin: 4px 0 0 0;
    color: #555;
}

#unsere-vision-section h3  {
	color: #3a4149; 
    font-family: 'Lato' !important;
    font-weight: 300 !important;
    line-height: 1.13 !important;
    letter-spacing: 1px !important;
	font-size:20px;
}



.testi-content p { 
    line-height: 30px !important;
    font-size: 18px !important; 
    letter-spacing: 2px !important; 
    font-weight: 400 !important; 
}

.portfolio-item {
    float: left;
    position: relative;
    width: 25%;
    height: auto;
    padding: 0 12px 12px 0;
}


.manu h5 {
	font-size: 1.55em!important;
    font-family: Lato!important;
    font-weight: 300!important;
    line-height: 1.13!important;
    letter-spacing: 1px!important;
    font-style: normal!important;
    color: #fff!important;
}


.manu h2 {
	 font-family: Tabitha !important;
    font-weight: 400 !important;
    font-size: 70px !important;
    line-height: 90px !important;
    margin-top: .24em !important;
    margin-bottom: 10px !important;
    font-style: normal !important;
    color: #fff !important;
} 

#content .mystyle ul {
	margin:25px;
}
 
#content .mystyle ul li {
    background: url(images/icons/icon-leaf.jpg) no-repeat 0 top;
    padding-left: 25px;
    margin: auto;
    list-style: none;
    margin-bottom: 20px;
}
 
.card-backgroungbg {
    color: #fff;
    font-size: 1.15em;
    background-color: rgba(245,245,245,.55);
    background-image: url(images/jointhefamily.jpg);
    padding: 30px;
}

.absolute { 
	position:relative; z-index:6;
}

.bg-overlay {
	z-index:1 !important; 
}

.divider.divider-center.divider-short1:before{left:auto!important;right:50%;margin-right:20px;width:6%}
 
.divider.divider-sm {
	width:26%; 
	color:#9bbb59;
	height: 30px; 
}

.divider.divider-sm-gray {
	width:26%; 
	color:#444 !important;
	height: 30px; 
}


.divider.divider-mini {
	width:21%; 
	color:#9bbb59;
	height: 30px; 
}

.divider::after, .divider::before {
	height: 1px; 
}

#footer a {
    color: #3a4149 !important;
    line-height: 23px;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0;
    font-style: normal;
}
#footer a:hover {
    color: #a2d143  !important;
}




#page-menu {
	height: 0;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}

#page-menu #page-menu-wrap {
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	-webkit-transform: translate3d(0,-44px,0);
	-o-transform: translate3d(0,-44px,0);
	transform: translate3d(0,-44px,0);
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

#page-menu.sticky-page-menu { overflow: visible; }

#page-menu.sticky-page-menu #page-menu-wrap {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


.toggle {  
	border-bottom: 1px solid #EEE;
    padding-bottom: 5px;
}

.toggle-title { 
	font-size:1rem; 
}

.toggle  {
	border-bottom: 1px dotted #ddd;
	
}

.icon-big {
	font-size: 1.45em;
	line-height:2rem;
}

.pl-20, .px-20 {
	padding-left: 0.20rem !important;
}
.pr-20, .px-20 {
	padding-right: 0.20rem !important;
}

#description li,#short_description li {
	background:url(images/icon-leaf.jpg) no-repeat 0 top !important;
	padding-left:25px !important;
	margin:auto;
	list-style:none !important;
	margin-bottom:.5rem !important;
}

#description h4,#short_description h4 {
	color: #9a9a9a !important;
	font-family: 'Tabitha'!important;
	font-weight: 400 !important;
	font-size: 1.5rem;
	margin-top:.5rem;
	margin-bottom:.5rem;
} 

.toggle-title-bg {
	padding: 0.75rem 1.25rem; 
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	font-size:1.55rem;
	font-family:'Tabitha'!important;
	color:#9bbb59!important;
	letter-spacing:2px;
} 

 
@media (min-width: 992px) {
.menu-container:not(.mobile-primary-menu) { 
    justify-content: flex-end;
}

.top-links {
	font-size: .85rem;
	color: #7b838b; 
}
} 

.text-color-black ,a.text-color-black {
	text-color:#000 !important;
}

.modal-backdrop {
	z-index:1!important;
}

.form-check-input {
	margin-top: 0.4rem;
}

.team .team-desc {
    position: absolute;
    top: 50%;
    z-index: 20; 
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    padding: 15px 25px;
}

.menu-container>.menu-item.bloggg:not(:first-child) {
    margin-left: 12px;
}

.responsiveimg {
  width: 100%;
  height: auto;
}